body {
  background-color: #e5e5e5;
  color: #212121;
}

.list {
  list-style: none;
}

/*  дополнительный цвет текста #757575 */
/*  акцент #2196F3 */
/*  лого хедер #000000 */
/*  герой, лого футер #FFFFFF */
/*  фон хедер #FFFFFF */
/*  ссылки футер color: rgba(255, 255, 255, 0.6);*/
/*  фон герой и футер #2F303A */
/*  фон наша команда #F5F4FA */

/* header */
.logo-header {
  color: #000000;
}

.logo-web {
  color: #2196f3;
}
